/* * {
   margin: none;
   padding: none; 
} */

body {
    background-image: url("../../assets/images/rainbow.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    width: 100%;
    font-size: 16pt;
    line-height: 150%;
}

h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 60pt;
    margin-top: 75px;
}

h2 {
    font-family: 'Rubik', sans-serif;
    margin-top: 85px;
    font-size: 20pt;
    background-color:#445CA5;
    color: #ffffff;
    margin-left: 300px;
    margin-right: 300px;
    padding-top:20px;
    padding-bottom:20px;
    border-radius:50%;
    
}

p {
    font-family: 'Rubik', sans-serif;
    font-size: 18pt;
    margin-top: 5%;
}

.pageWrapper {
    position: absolute;
    border-style: solid;
    border-color: #ABDEC8;
    border-radius: 1%;
    top: 100px;
    left: 175px;
    right: 175px;
    width: 75%;
    height: 575px;
    background-color: #ABDEC8;
    text-align: center;
}

#clickStart {
    padding: 50px 300px 50px 300px;
    margin-top: 50px;
    background-color: #445CA5;
    color: #ffffff;
    font-family: 'Luckiest Guy', cursive;
    font-size: 25pt;
    border-radius: 25%;
}

.startImages {
    margin-top: 100px;
}

button, .buttonClicked {
    padding: 10px 25px 10px 25px;
    margin-top: 75px;
    margin-right: 10px;
    background-color: #445CA5;
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    font-size: 16pt;
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .pageWrapper {
        top: 100px;
        left: 75px;
        right: 40px;
        width: 85%;
    }
     #clickStart {
        padding: 50px 200px 50px 200px;
        margin-top: 50px;
    }
}
@media screen and (min-width: 981px) and (max-width: 1024px) {
    .pageWrapper {
        top: 100px;
        left: 75px;
        right: 40px;
        width: 85%;
    }
     #clickStart {
        padding: 50px 200px 50px 200px;
        margin-top: 50px;
    }
}

@media screen and (min-width: 769px) and (max-width: 980px) {
    .pageWrapper {
        top: 100px;
        left: 70px;
        right: 55px;
        width: 85%;
    }
     #clickStart {
        padding: 50px 150px 50px 150px;
        margin-top: 50px;
    }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
    .pageWrapper {
        top: 100px;
        left: 50px;
        right: 50px;
        width: 85%;
    }
    #clickStart {
        padding: 50px 100px 50px 100px;
        margin-top: 50px;
    }
}

@media screen and (min-width: 481px) and (max-width: 640px) {
    .pageWrapper {
        margin-top: 2rem;
        top: 60px;
        left: 2rem;
        width: 90%;
    }

    .startScreen {
        position: relative;
    }

     #clickStart {
        position: absolute;
        padding: 50px 75px 50px 75px;
        top: 17rem;
        left: 6rem;
    }
    .startImages {
        visibility: hidden;
        /* margin-top: 1rem; */
    }

    button, .buttonClicked {
        padding: 10px 25px 10px 25px;
        margin-top: 20px;
        margin-right: 5px;
        background-color: #445CA5;
        color: #ffffff;
        font-family: 'Rubik', sans-serif;
        font-size: 16pt;
    }

    h1 {
        line-height: 5rem
    }

    h2 {
        font-family: 'Rubik', sans-serif;
        margin-top: 50px;
        font-size: 20pt;
    }
    
    p {
        font-family: 'Rubik', sans-serif;
        font-size: 18pt;
        margin-top: 10%;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .pageWrapper {
        margin-top: 2rem;
        top: 100px;
        left: 1rem;
        width: 90%;
    }
    .startScreen {
        position: relative;
    }
     #clickStart {
        position: absolute;
        padding: 50px 75px 50px 75px;
        top: 17rem;
        left: 4rem;
    }
    .startImages {
        visibility: hidden;
        /* margin-top: 1rem; */
    }
    h1 {
        line-height: 5rem
    }
    h2 {
        font-family: 'Rubik', sans-serif;
        margin-top: 35px;
        font-size: 20pt;
        margin-left: 20px;
        margin-right: 20px;
        padding-top:20px;
        padding-bottom:20px;
        border-radius:50%;
    }
    
    p {
        font-family: 'Rubik', sans-serif;
        font-size: 18pt;
        margin-top: 10%;
    }
    button, .buttonClicked {
        padding: 10px 25px 10px 25px;
        margin-top: 20px;
        margin-right: 5px;
        background-color: #445CA5;
        color: #ffffff;
        font-family: 'Rubik', sans-serif;
        font-size: 16pt;
    }
}